h1,
h3,
h5 {
  color: #28527a;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
}

h1 {
  padding: 10px 0 10px 5px;
}

h1, h3#city-name, p.date-time {
  text-align: left !important;
}

h3.weather-info {
  text-align: right;
}

h3, h5 {
  text-transform: uppercase;
}

p {
  color: #343054;
  font-family: "Inconsolata", monospace;
  margin: 0;
  text-align: center;
}

.outer {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  margin: 0 auto;
  margin-top: 50px;
  width: 700px;
}

.search-form {
  font-family: "Merriweather Sans", sans-serif;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 4px;
}

.search-btn,
.current-location-btn {
  box-shadow: #c7cfb7 0 4px 4px 0;
  color: #28527a;
  cursor: pointer;
  font-family: "Merriweather Sans", sans-serif;
  margin: 0 auto;
  padding: 4px;
}

.current-location-btn {
  display: block;
  margin-top: 15px;
}

.inner {
  margin: 10px 0;
  width: 665px;
}

#country-flag {
  display: inline-block !important;
  padding: 50px !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

#weather-description {
  text-align: left !important;
  text-transform: capitalize;
}

#weather-icon {
  display: inline !important;
  float: right;
  margin: 0;
  padding: 0;
}

.weather-info {
  float: right;
  text-align: right !important; 
}

#precipitation {
  color: red;
  font-size: smaller;
}

.col {
  padding: 0;
}

i.em {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 30px;
}

.coder {
  text-align: center;
}