body {
  background: #343746;
}

h1 {
  color: #e8f2e6;
  font-family: "Inconsolata", monospace;
  padding: 10px 0 10px 5px;
  text-align: left;
}

.function {
  color: #ee6fa2;
}

.weather {
  color: #44b865;
}

h3,
h5 {
  color: #e8f2e6;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
}


h3#city-name, p.date-time {
  text-align: left !important;
}

h3.weather-info {
  text-align: right;
}

h3, h5 {
  text-transform: uppercase;
}

h5 {
   margin: 0;
}

p {
  color: #e8f2e6;
  font-family: "Inconsolata", monospace;
  margin: 0;
  text-align: center;
}

.outer {
  background: #272a36;
  border-color: #e0d675;
  margin: 0 auto;
  margin-top: 50px;
  width: 700px;
}

.search-form {
  background: #343746;
  border-radius: 5px;
  border-width: thin;
  color: #e8f2e6;
  font-family: "Merriweather Sans", sans-serif;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-right: 5px;
  padding: 4px;
}

.search-btn,
.current-location-btn {
  background: rgb(170,135,227, 0.6);
  border-radius: 5px;
  border-width: thin;
  color: #44b865;
  cursor: pointer;
  font-family: "Inconsolata", monospace;
  margin: 0 auto;
  padding: 4px;
}

.current-location-btn {
  display: block;
  margin-top: 15px;
}

.inner {
  background: #343746;
  border-color: #c06c45;
  margin: 10px 0;
  width: 665px;
}

#country-flag {
  display: inline-block !important;
  padding: 50px !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

#weather-description {
  text-transform: capitalize;
}

#weather-icon {
  display: inline !important;
  float: right;
  height: 150px;
  margin: -30px -35px -25px -25px;
  padding: 0;
  width: 150px;
}

p.weather-info {
  float: right;
  text-align: right !important; 
}

.col {
  padding: 0;
}

#weather-forecast-icon {
  display: block;
  margin: 0 auto;
  width: 80px;
}

#weather-forecast-min-temp {
  opacity: 0.6;
}

.coder {
  text-align: center;
}

#open-source {
  color: #82deee !important;
}